.login_form_body{

    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.form_body{
    /* width: 600px;
    height: 400px; */
    background-color: #46464e;
    
}
.form_img{
    height: 380px;
}